.terraform/
*.tfstate
*.tfstate.*
*.tfvars
errored.tfstate
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json

# Environment variables
.env
